h1 {
    color: purple;
  text-align: center;
  text-shadow: 3px 2px white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: serif;
}

body {
  background-image: url("http://www.centerforinquiry.net/cruise2014/img/background.jpg");
  background-attachment: fixed;
  font-family: sans-serif;
}

.page-header h1{
  margin-bottom: 0;
}

.page-header p{
  margin-top: 0;
}

header p {
  text-align: center;
  border-bottom: 2px black dotted;
   text-shadow: 2px 1px white;
  font-size: large;
}

header {
  background-image: url("images/Xanadu_on_Map_of_Asia.JPG")  
}

.poem {
  list-style-type: none;
  text-align: center;  
  font-style: italic;
  line-height: 200%;
  text-align: right;
}

h2 {
  text-align: center;
  color: purple;
  text-shadow: 3px 2px white;
  background-image: url("images/Xanadu_on_Map_of_Asia.JPG");
   border: 2px solid #000;
  border-radius: 25px;
}

ul.info-links {
  background-image: url("images/hiking-the-sand-dunes.jpg");
  background-repeat: no-repeat;
  background-size: 380px 700px;
}

aside {
  float: left;
}

ul.social-links {
   background-image: url("images/hiking-the-sand-dunes.jpg");
  background-repeat: no-repeat;
  background-size: 380px 700px;
}

.firstcitation {
  text-align: right;
  font-style: oblique;
}

.more-info img {
  width: 200px;
   height: auto;
  padding: 1rem;
}

p.firstletter::first-letter { 
    font-size: 200%;
    color: #8A2BE2;
}

.backgroundimage {
  background-image: url("images/hiking-the-sand-dunes.jpg");
  background-repeat: no-repeat;
  background-size: 380px 700px;
  }

p.citation {
  font-weight: bold;
}